html, body {
    height: 100%;
    font-family: "europa", sans-serif;
    text-align: center;
}

h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #333333;
    margin-top: 50px;
    margin-bottom: 20px;
    line-height: 36px;
}

p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #aaaaaa;
}

.form-control {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    box-shadow: none;
    height: 42px;
}

.next_no {
     border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    width: 180px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #cccccc;
    background-color:#ffffff;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 4px;
    letter-spacing: 1px;
    border: solid 2px #cccccc;
}


.next_no:active, .next_no:focus, .next_no:hover {
     color: #b4b7ba;  
     background-color: #ffffff;
     box-shadow: none;
}

.next  {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    width: 180px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color:#33a9db;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    letter-spacing: 1px;
}

.next:active, .next:focus, .next:hover {
     color: #ffffff;  
     background-color: #2898c7;
     box-shadow: none;
}

.person {
    text-align: left;
}

.btn-radio {
    width: 160px;
    height: 110px;
    margin: 20px;
    border: none;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
      
}

#c4 .btn-radio  {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 5px;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    background-color: #ffffff;
    color: #94a7b4;
    border: solid 1px #94a7b4;
}

#c4 .btn-radio:focus, #c4 .btn-radio:hover, #c4 .btn-radio:visited, #c4 .active.btn-radio {
    color: #ffffff;
    background-color: #94a7b4;
    box-shadow: none;
}


.btn-radio:focus, .btn-radio:hover, .btn-radio:visited, .btn-radio.active {
     box-shadow: none;
}

.btn-radio#c1_radio_cooking  {
    background-image: url(../img/cooking.png);
}

.btn-radio#c1_radio_cooking:hover, .btn-radio#c1_radio_cooking.active  {
    background-image: url(../img/cooking-hover.png);
}

.btn-radio#c1_radio_jobSearching  {
    background-image: url(../img/job.png);
}

.btn-radio#c1_radio_jobSearching:hover, .btn-radio#c1_radio_jobSearching.active  {
    background-image: url(../img/job-hover.png);
}

.btn-radio#c1_radio_appDevelopment  {
    background-image: url(../img/appdev.png);
}

.btn-radio#c1_radio_appDevelopment:hover, .btn-radio#c1_radio_appDevelopment.active  {
    background-image: url(../img/appdev-hover.png);
}

.btn-radio#c1_radio_mobileApps  {
    background-image: url(../img/apps.png);
}

.btn-radio#c1_radio_mobileApps:hover, .btn-radio#c1_radio_mobileApps.active  {
    background-image: url(../img/apps-hover.png);
}

.btn-radio#c1_radio_messaging  {
    background-image: url(../img/msg.png);
}

.btn-radio#c1_radio_messaging:hover, .btn-radio#c1_radio_messaging.active  {
    background-image: url(../img/msg-hover.png);
}

.btn-radio#c1_radio_surveys  {
    background-image: url(../img/survey.png);
}

.btn-radio#c1_radio_surveys:hover, .btn-radio#c1_radio_surveys.active  {
    background-image: url(../img/survey-hover.png);
}

.btn-radio#c1_radio_email  {
    background-image: url(../img/mail.png);
}

.btn-radio#c1_radio_email:hover, .btn-radio#c1_radio_email.active  {
    background-image: url(../img/mail-hover.png);
}

.btn-radio#c1_radio_subscriptions   {
    background-image: url(../img/subscriptions.png);
}

.btn-radio#c1_radio_subscriptions:hover, .btn-radio#c1_radio_subscriptions.active  {
    background-image: url(../img/subscriptions-hover.png);
}

.btn-radio#c1_radio_lifeStyle  {
    background-image: url(../img/lifestyle.png);
}

.btn-radio#c1_radio_lifeStyle:hover, .btn-radio#c1_radio_lifeStyle.active  {
    background-image: url(../img/lifestyle-hover.png);
}

.btn-radio#c1_radio_random  {
    background-image: url(../img/random.png);
}

.btn-radio#c1_radio_random:hover, .btn-radio#c1_radio_random.active  {
    background-image: url(../img/random-hover.png);
}

.person > .row:first-child {
   border-top: 1px solid #eeeeee;
   margin-top: 40px;
}


.person > .row {
    border-bottom: 1px solid #eeeeee;
    line-height: 100px;   
}
.person p {  
    line-height: 100px;
}

.error {
    border: solid 1px red;
}


#c3 {
   
}

#c4 select {
    color: #94a7b4;
    height: 42px;
    border: solid 1px #94a7b4;
    padding-left: 5px;
}



#c5 .input-group {
    margin-top: 20px;
}

#c6 .col-sm-6 {
    margin-top: 50px; 
    margin-bottom:50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pt-perspective {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;
}

.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;

}


.pt-page-current
{
	visibility: visible;
	z-index: 1;
}

@media(max-width: 767px){

    .person > .row {
    border-bottom: 1px solid #cccccc;
    line-height: 70px;   
    }
    .person p {  

    line-height: 30px;
    margin-bottom: 0px;
    margin-top: 10px;
    }

    #c5_btn_mail {
    width: auto;
    }
}

@media (min-width: 1200px) {

}


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aaaaaa;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #aaaaaa;
}

input:-ms-input-placeholder.form-control {
   color: #aaaaaa;
}


/* turn off font badge*/
.typekit-badge {
    display: none !important;
}

/*
Light
font-family: "europa",sans-serif;
font-style: normal;
font-weight: 300;    
*/

/*
Light italic
font-family: "europa",sans-serif;
font-style: italic;
font-weight: 300;   
*/

/*
Regular
font-family: "europa",sans-serif;
font-style: normal;
font-weight: 400;
*/

/* Bold
font-family: "europa",sans-serif;
font-style: normal;
font-weight: 700;
 */