/*-------------------------- */
/* Global                   */
body, h1, h2, h3, h4, p {
font-family: "Open Sans", sans-serif;
font-weight: 400;
}

h1 {
    color: #222;
	font-size: 35px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-transform:none;
	text-align: center;
	font-weight: 600;
    margin-top:122px;
    margin-bottom: 46px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aaaaaa;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #aaaaaa;
}

input:-ms-input-placeholder.form-control {
   color: #aaaaaa;
}

.form-control {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    box-shadow: none;
    height: 42px;

}

.btn {
    height: 42px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #d4d4d4;
    border-radius: 0;
}

/*-------------------------- */
/* C0                       */
.c0 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index:20;
  margin: 40px 40px 0px 40px;
}

.c0 .logo {
 font-size: 20px;
 font-weight: 600;
}

.c0 .video {
 text-align: right;
 font-size: 15px;
}

/*-------------------------- */
/* C1                       */
.c1 h1 {
	color: #222;
	font-size: 40px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	font-weight: 700;
}


.c1 .btn {
    margin-top:50px;
}

.c1 p {
    margin-top: 20px;
    color: #222;
	font-size: 20px;
    text-transform:uppercase;
}
/*-------------------------- */
/* C2                       */
.c2 p {
    margin-bottom: 50px;
    font-size: 15px;
}

.c2 {
    padding-bottom:200px;
}

/*-------------------------- */
/* C3                       */

.c3 {
    background-color: #efefef;
}

.c3 p {
    margin-bottom: 50px;
    font-size: 15px;
}

.c3 h1 {
    text-align: left;
}

.c3 .conversation-box:first-child  {
    margin-top: 150px;
}

.c3 .conversation-box {
    background-color: #d4d4d4;
    text-align: left;
    margin-bottom: 20px;
    padding: 10px;
}

.c3 {
    padding-bottom:50px;
}
/*-------------------------- */
/* C4                       */
.c4 {
    background-color: #efefef;
}

.c4 p {
    margin-bottom: 50px;
    font-size: 15px;
}

.c4 h1 {
    text-align: left;
}


.c4 .conversation-box:first-child  {
    margin-top: 100px;
}

.c4 .conversation-box {
    background-color: #d4d4d4;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 15px;
    padding: 10px;
}

.c4 {
    padding-bottom:80px;
}

/*-------------------------- */
/* C5 */

.c5 p {
    margin-bottom: 50px;
    font-size: 15px;
}

.c5 {
    padding-bottom:200px;
}
/*-------------------------- */
/* C6 */
.c6 {
    background-color: #efefef;
}

.c6 p {
    margin-bottom: 50px;
    font-size: 15px;
}

.c6 h1 {
    text-align: left;
}

.c6 #circle {
    margin-top:100px;
    width: 200px;
    height: 200px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    background: #d4d4d4;
}


.c6 {
    padding-bottom:50px;
}

/*-------------------------- */
/* C7 */
#c7_input_email {
}

.c7 p {
    margin-bottom: 50px;
    font-size: 15px;
}

.c7 {
    padding-bottom:200px;
}

/*-------------------------- */
/* C8 */
.c8 {
    background-color: #efefef;
    padding-top: 50px;
    padding-bottom: 80px;
}

/*-------------------------- */
/* CAROUSEL                 */

.carousel .item {
  height: 680px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

.carousel-indicators {
	margin-bottom: 5px;
}

.left.carousel-control, .right.carousel-control {
	background-image: none;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
	color: white;
}

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
	left: 80px;
}

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
	right: 80px;
}

.carousel-caption {
    position:absolute;
    top: 150px;
    text-shadow:none;
}

